<div class="mt-4 mx-auto">
    <span class="text-3xl dbBold mr-10 text-center">Ankunft</span> <span class="dbItalic text-2xl mr-5">Flughafen BER</span> <app-datestamp class="absolute right-0"></app-datestamp>
</div>
<app-manual-airport-request ></app-manual-airport-request>
    <div *ngFor="let i of airportDataArr" class="my-4 bg-[#131821] border-2 border-white min-w-full rounded-md rounded-l-lg h-20 shadow-lg">
        <div class="grid grid-cols-10 items-center grid-flow-col lg:grid-flow-row">
            <div class="default w-20 h-[4.75rem] rounded-l-md text-center z-10">
                <span class="dbBold text-3xl relative top-3">{{i.airlineCode}}</span>
                    <br>
                <span class="dbSans text-base relative top-3">{{i.number}}</span>
            </div>

            <div class="col-span-3 box-border whitespace-nowrap overflow-hidden">
                <div [ngClass]="{'hmove': direction.offsetWidth>280}">
                    <span #direction class="dbBold text-2xl text-white">{{i.from}}</span>
                </div>
            </div>

            <div class="col-span-2">
                <span [ngClass]="{'line-through decoration-[#EC0016]': i.cancelled}" class="text-white text-3xl dbBold">{{i.planned | date: 'HH:mm'}}</span>
                <span *ngIf="i.planned !== i.actual > 0" class="relative bottom-4 left-1 text-[#00AA11] dbBold" [class.red-delay]="i.actual >= i.planned">{{i.actual | date: 'HH:mm'}}</span>
            </div>

            <div class="text-center relative right-2">
                <span class="text-white dbBold">{{i.aircraft}}</span><br>
                <span class=" text-[#AFB4BB] dbSans">Aircraft</span>
            </div>
            
            <div *ngIf="i.status" class="text-center relative right-2">
                <span class="text-white dbSans">{{i.status}}</span>
            </div>
                    <img src='{{i.imgSrc}}' alt="" class="rounded-md">

    </div>