<div *ngIf="data.direction !== 'Flughafen BER - Terminal 1-2 (S-Bahn)'&& !data.cancelled">
    <h4 class="text-xl dbBlack">S{{data.line}} nach {{data.direction}}</h4>
    <hr>
    <p *ngIf="data.line === '9'">Work <span class="dbSans">ETA</span>: <span class="text-lg">{{this.getArrivalTime(this.data.actual, 27) | date: "HH:mm"}}</span></p>
    <p class="mt-2">HWR <span class="dbSans">ETA</span>: <span class="text-lg">{{this.getArrivalTime(this.data.actual, 50) | date: "HH:mm"}}</span> <span class="dbSans text-xs"> via Schöneweide</span></p>
    <hr>
</div>
<div *ngIf="data.direction === 'Flughafen BER - Terminal 1-2 (S-Bahn)'|| data.cancelled" class="text-center">
    <p>Keine Relevanten ETA Informationen vorhanden</p>
    <p *ngIf="data.cancelled" class="regio text-white">Fahrt fällt aus</p>
</div>
