
<div *ngIf="data.direction !== 'Flughafen BER - Terminal 1-2 (S-Bahn)'&& !data.cancelled">
    <h4 class="text-xl dbBlack">S{{data.line}} nach {{data.direction}}</h4>
    <hr>
</div>
<div *ngIf="data.direction !== 'Flughafen BER - Terminal 1-2 (S-Bahn)'&& !data.cancelled && !schoeneweide && !treptow">
    <div class="animate-pulse flex space-x-4">
        <div class="flex-1 space-y-6 py-1">
          <div *ngIf="data.line == '9'" class="h-4 bg-gray-200 rounded"></div>
          <div [ngClass]="{'mt-2': data.line=='45'}" class="h-4 bg-gray-200 rounded"></div>
          </div>
        </div>
    </div>


<div *ngIf="data.direction !== 'Flughafen BER - Terminal 1-2 (S-Bahn)'&& !data.cancelled">
    <p *ngIf="data.line === '9' && treptow">Work <span class="dbSans">ETA</span>: <span class="text-lg">{{treptowArrival | date: "HH:mm"}}</span></p>
    <p *ngIf="schoeneweide" class="mt-2">HWR <span class="dbSans">ETA</span>: <span class="text-lg">{{this.getArrivalTime(this.data.actual, 50) | date: "HH:mm"}}</span> <span class="dbSans text-xs"> via Schöneweide</span></p>
    <hr>
</div>
<div *ngIf="data.direction === 'Flughafen BER - Terminal 1-2 (S-Bahn)'|| data.cancelled" class="text-center">
    <p>Keine Relevanten ETA Informationen vorhanden</p>
    <p *ngIf="data.cancelled" class="regio text-white">Fahrt fällt aus</p>
</div>
