

<mat-spinner *ngIf="stationData.length === 0" color="warn" class="mx-auto my-20"></mat-spinner>
<div class="mt-4 mx-auto" *ngIf="stationData.length > 0">
    <span class="text-3xl dbBold mr-10 text-center">Abfahrt</span> <span class="dbItalic text-2xl mr-5">Berlin Hauptbahnhof</span> <app-datestamp class="absolute right-0"></app-datestamp>
</div>

    <div *ngFor="let i of stationData; trackBy: identifyIfEqual" class="my-4 bg-[#C8C8C8] min-w-full rounded-md rounded-l-lg h-20 shadow-lg">
        <div (click)="openDetails(i.id, i.product, i.line)" class="grid grid-cols-10 items-center grid-flow-col lg:grid-flow-row">
            <div class="default w-20 h-20 rounded-l-md text-center z-10" [ngClass]="{'ice': i.product==='ICE', 'ic':i.product==='IC'||i.product==='EC', 'regio': i.product==='RE'|| i.product==='RB' || i.product==='FEX', 'flix':i.product==='FLX'}">
                <span class="dbBold text-3xl relative top-3">{{i.product}}</span>
                    <br>
                <span class="dbSans text-base relative top-3">{{i.line}}</span>
            </div>

            <div class="col-span-3 box-border whitespace-nowrap overflow-hidden">
                <div [ngClass]="{'hmove': direction.offsetWidth>280}">
                    <span #direction class="dbBold text-2xl text-[#656565]">{{i.direction}}</span>
                </div>
            </div>

            <div class="col-span-2 relative left-4">
                <span [ngClass]="{'line-through decoration-[#ff2f2f]': i.cancelled}" class="text-black text-3xl dbBold">{{i.planned | date: 'HH:mm'}}</span>
                <span *ngIf="i.delay > 0" class="relative bottom-4 left-1 text-[#00AA11] dbBold" [class.red-delay]="i.delay >= 5">+{{i.delay}}</span>
                <span *ngIf="i.delay >= 5" class="bg-[#4d4d4d] text-[#C8C8C8] dbBold rounded-sm px-px relative left-2">{{i.actual | date: 'HH:mm'}}</span>
            </div>

            <div *ngIf="i.platform" class="text-center relative right-2">
                <span class="text-black text-3xl dbBold relative top-2">{{i.platform}}</span><br>
                <span class=" text-[#656565] dbBold">Gleis</span>
            </div>

            <div class="col-span-3 box-border width-text whitespace-nowrap overflow-hidden relative right-4"> <!--Wegen Infos mal noch auf zugfinder.net sehen wie die das gemacht haben-->
                <div>
                    <marquee *ngIf="i.info" class="dbSans text-base text-[#FF2F2F]" direction="left">+++ {{i.info.text}} +++</marquee>
                </div>
                <div *ngIf="!i.info">
                    <span class="dbSans text-base text-black relative left-6">Keine Meldungen vorhanden</span>
                </div>
            </div>
    
        </div>
    </div>