
<app-station-loading *ngIf="stationData.length === 0"></app-station-loading>
<div class="flex flex-col md:flex-row mt-4" *ngIf="stationData.length > 0">
    <span class="text-3xl dbBold lg:w-1/5 text-left">Abfahrt</span> <span class="dbItalic text-2xl lg:w-2/5 text-left">Berlin Hauptbahnhof</span> <app-datestamp class="lg:w-2/5 lg:text-right md:text-left"></app-datestamp>
</div>

    <div *ngFor="let i of stationData; trackBy: identifyIfEqual" class="my-4 bg-[#282D37] min-w-full rounded-md rounded-l-lg min-h-20 shadow-lg">
        <div (click)="openDetails(i.id, i.product, i.line, i.operator)" class="flex flex-col md:flex-row text-center space-y-2">
            <div class="lg:w-1/12 md:w-full z-10 rounded-md h-20 default" [ngClass]="{'ice': i.product==='ICE', 'ic':i.product==='IC'|| i.product==='EC', 'regio':i.product==='RE'|| i.product==='RB' || i.product==='FEX', 'flix':i.product==='FLX', 's-bahn':i.product==='S'}">
                <span class="dbBold text-3xl relative top-3">{{i.product}}</span>
                    <br>
                <span class="dbSans text-base relative top-3">{{i.line}}</span>
            </div>

            <div #destinationParent class="lg:w-4/12 lg:relative lg:top-4 lg:left-2 md:w-full overflow-hidden whitespace-nowrap">
                <div [ngClass]="{'hmove': destination.offsetWidth>destinationParent.offsetWidth }">
                    <span #destination class="dbBold text-2xl text-white">{{i.destination}}</span>
                </div>
            </div>

            <div class="lg:w-3/12 lg:relative lg:top-4 md:w-full lg:text-left lg:left-4">
                <span [ngClass]="{'line-through decoration-[#EC0016]': i.cancelled}" class="text-white text-3xl dbBold">{{i.planned | date: 'HH:mm'}}</span>
                <span *ngIf="i.delay > 0" class="relative bottom-4 left-1 text-[#00AA11] dbBold" [class.red-delay]="i.delay >= 5">+{{i.delay}}</span>
                <span *ngIf="i.delay >= 5" class="bg-[#282D37] text-white border-2 border-white dbBold rounded-sm px-px relative left-2">{{i.actual | date: 'HH:mm'}}</span>
            </div>

            <div *ngIf="i.platform" class="lg:w-1/12 md:w-full text-center relative lg:right-2">
                <span class="text-white text-3xl dbBold">{{i.platform}}</span><br>
                <span class=" decent-text dbBold">Gleis</span>
            </div>

            <div class="lg:w-3/12 lg:relative lg:top-5 md:w-full">
                <div>
                    <marquee *ngIf="i.info" class="dbSans text-base text-[#EC0016]" destination="left">+++ {{i.info.text}} +++</marquee>
                </div>
                <div *ngIf="!i.info">
                    <span class="dbSans text-base decent-text">Keine Meldungen vorhanden</span>
                </div>
            </div>
    
        </div>
    </div>