
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$digitalBoard-primary: mat.define-palette(mat.$grey-palette);
$digitalBoard-accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$digitalBoard-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$digitalBoard-theme: mat.define-light-theme((
  color: (
    primary: $digitalBoard-primary,
    accent: $digitalBoard-accent,
    warn: $digitalBoard-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($digitalBoard-theme);

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: dbSans;
    src: url(assets/fonts/DB_Sans_Regular.otf) format("opentype");
  }
  @font-face {
    font-family: dbItalic;
    src: url(assets/fonts/DB_Sans_Regular_Italic.otf) format("opentype");
  }

@font-face {
    font-family: dbBold;
    src: url(assets/fonts/DB_Sans_Bold.otf) format("opentype");
  }

  @font-face {
    font-family: dbBoldItalic;
    src: url(assets/fonts/DB_Sans_Bold_Italic.otf) format("opentype");
  }

  @font-face {
    font-family: dbBlack;
    src: url(assets/fonts/DB_Sans_Black.otf) format("opentype");
  }

  @font-face {
    font-family: dbBlackItalic;
    src: url(assets/fonts/DB_Sans_Black_Italic.otf) format("opentype");
  }

  .dbSans{
      font-family: dbSans;
  }

  .dbItalic{
    font-family: dbItalic;
}

.dbBold{
    font-family: dbBold;
}

.dbBoldItalic{
    font-family: dbBoldItalic;
}

.dbBlack{
    font-family: dbBlack;
}

.dbBlackItalic{
    font-family: dbBlackItalic;
}

::-webkit-scrollbar {
  display: none;
}

html, body { height: 100%;}
body { margin: 0; font-family: dbBold !important; -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; }
